{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": ["react", "jsx-a11y", "import"],
  "rules": {
    "no-console": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "eqeqeq": 0,
    "import/newline-after-import": 0,
    "class-methods-use-this": 0,
    "no-alert": 0,
    "react/self-closing-comp": 0,
    "arrow-parens": 0,
    "react/no-danger": 0,
    "no-plusplus": 0,
    "linebreak-style": 0,
    "react/no-unescaped-entities": 0,
    "react/prop-types": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "function-paren-newline": 0,
    "react/jsx-curly-brace-presence": 0,
    "react/no-unused-state": 0,
    "react/no-did-mount-set-state": 0,
    "no-underscore-dangle": 0
  }
}
