div.wrapper.contact {
  margin: 0;
}

div.wrapper.contact > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

input.contact, textarea.contact {
  width: 90%;
  padding: 4px;
  margin: 10px auto;
}

input {
  margin-bottom: 10px;
}

textarea.contact {
  min-height: 150px;
  margin-bottom: 10px;
  resize: vertical;
}

form.contact {
  margin: 0 auto;
  max-width: 960px;
}

form.contact > .btn {
  margin: 0;
  width: 90%;
}