body {
  background-color: white;
}

.logo-container, .footer, .wrapper {
  background-color: #171e27;
}

a {
  line-height: 1.2;
}

a:hover {
  text-decoration: none;
}

.bee {
  /* border-radius: 50%; */
  margin-top: 70px; 
  margin-bottom: 10px; 
  height: 70%;
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 400px;
  max-width: 400px;
}

.logo {
  position: relative;
}

.motto {
  width: 100%;
  top: 87.5%;
  position: absolute;
  font-size: 16px;
  font-size: 3.5vw;
  text-align: center;
  color: #7a9e7e;
  text-shadow: 2px 2px 4px #333;
  text-shadow: 2px 2px 3px rgba(10,10,10,0.5);
  min-height: 100px;
}

.textBox {
  text-align: center;
  color: #e8f1f2;
}

.quote {
  font-style: italic;
  font-size: 25px;
}

.btn {
  margin: 1.5em auto;
  color: #171e27;
  width: 15em;
  height: 3em;
}

.more {
  font-size: 25px;
  text-shadow: 2px 2px 4px #333;
  text-shadow: 2px 2px 3px rgba(10,10,10,0.5);
  margin-bottom: 1.5em;
}

.mission_container{
  width: 100%;
  margin: 0;
  background-color: white;
}

.mission {
  padding: 1.2em;
  color: #222;
}

h3, p {
  color: #171e27;
  padding: 0% 10%;
}

.wrapper {
  margin-top: 50px;
  padding-top: 50px; 
  padding-bottom: 20px;
  margin-bottom: 100px;
}

@media (max-width: 500px) {

  .mission {
      padding: 0.7em;
  }
  
  .motto {
      font-size: 4.5vw;
  }

  .bee {
      margin-top: 70px; 
  }
  
}