.jobs-list {
  margin-bottom: 20px;
  min-height: calc(100vh - 80px - 20px - 110px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ul {
  list-style-type: none;
}

.job {
  padding: 10px 0;
  opacity: 0;
  transition: opacity 1s ease-in-out; 
}

.job:nth-child(2n+1) {
  background-color: #222;
}

.job:nth-child(2n+1) a {
  color: white;
}

.job:nth-child(2n) a {
  color: #222;
}

.job a:visited {
  color: #FFB605;
}

.job:hover {
  background-color: #FFB605;
}

.job:hover a:visited {
  color: white;
}

.jobs-loading-animation {
  padding: 10px 0;
  font-size: 1.4em;
  font-weight: 700;
  overflow: hidden;
}

.pages {
  margin-top: 2em;
  text-align: center;
}

.pages button {
  margin: 3px;
  padding: 2px 5px;
  font-size: 1.2em;
  border: 0;
  color: white;
}
