.narrator-pic {
  height: 70%;
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  max-height: 400px;
  max-width: 400px;
}

.story-title {
  text-align: center;
}

.story-button {
  margin-top: 0;
}

.story-wrapper {
  text-align: justify;
}

.story-wrapper > div > p {
  padding: 0 10px;
}

.story-flex-wrapper{
  margin-top: 80px;
  display: flex;
  align-items: flex-start;
}

.story-flex-wrapper>.story-wrapper{
  flex: 1;
}

.story-flex-wrapper>.aside{
  width: 150px;
  opacity: 0;
  padding: 10px;
  transition: opacity 1s linear;
}

.sidebar-grid{
  display: grid;
  grid-row-gap: 10px;
  grid-template-columns: 1fr;
  align-items: start;
}

.aside > h3 {
  text-align: center;
  font-size: 20px;
  margin: 0;
}

.sidebar-grid > .story-box{
  padding: 1rem;
  text-align: center;
  border: #aaa 1px solid;
  text-transform: capitalize;
}

.sidebar-grid > .story-box > img{
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  display: block;
}

.sidebar-grid > .story-box > span{
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 768px){

  .story-flex-wrapper{
    flex-direction: column;
    height: auto;
  }

  .story-flex-wrapper>.story-wrapper{
    flex: 1;
    width: 100%;
  }

  .story-flex-wrapper>.aside{
    width: 100%;
  }

  .sidebar-grid{
    overflow-y: hidden;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 500px){

  .sidebar-grid{
    grid-template-columns: 1fr 1fr;
  }

}
