.stories {
  min-height: 100vh;
  background-color: white;
  margin-top: -80px;
  padding-top: 90px;
  margin-bottom: 30px;
}

.blackBG {
  position: absolute;
  top: -90px;
  background-color: #222;
  height: 750px;
  width: 100%;
  z-index: 0;
}

.greyBG {
  position: absolute;
  background-color: #777;
  height: 750px;
  top: 660px;
  width: 100%;
  z-index: 0;
}

.listBar {
  position: relative;
  background-color: white;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 15px;
}

.find-a-story {
  font-size: 21px;
  color: #FFC107; /* amber 500 */
  font-weight: 300;
  margin-bottom: -10px;
  margin-top: -5px;
}

.LBDiv {
  position: relative;
  z-index: 10;
}

.LBStories {
  position: absolute;
  width: 100%;
  border-radius: 20px;
}

.LBStory {
  width: 100%;
  font-size: 25px;
  font-weight: 300;
  text-transform: capitalize;
  border-radius: 50px;
  padding: 5px;
}

.LBStory:hover {
  background-color: whitesmoke;
  padding-left: 10px;
}

.LBStory .mini-image {
  height: 50px;
  background-color: white;
  border-radius: 10px;
}

.thing {
  padding: 3px 15px;
  font-weight: 700;
  font-size: 18px;
  color: white;
  /* yellow 700 */
  background-color: #FBC02D;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  position: relative;
  right: 15px;
}

.interview {
  position: absolute;
  margin-top: -50px;
  margin-bottom: 50px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.interview > .thing {
  box-shadow: 0 8px 10px 4px #ccc;
}

.story-flex-wrapper {
  display: flex;
  align-items: flex-start;
  color: #777;
}

.story-flex-wrapper .story-UpperWrapper {
  flex: 1;
  text-align: justify;
  transition: width 1s;
}

.story-wrapper div > p {
  padding: 0 10px;
}

.story-wrapper div > p > strong {
  font-size: 1.15em;
}

.aside {
  opacity: 0;
  width: 200px;
  padding: 10px;
  transition: opacity 1s linear;
  margin-left: 25px;
  position: relative;
}

.aside .thing {
  right: 30px;
}

.aside h3 {
  text-align: center;
  font-size: 20px;
  margin: 0;
}

.sidebar-grid {
  display: grid;
  grid-row-gap: 10px;
  grid-template-columns: 1fr;
  align-items: start;
}

.story-box {
  padding: 1rem;
  text-align: center;
  text-transform: capitalize;
  display: block;
  font-size: 1.1em;
  font-weight: 500;
}

.story-box img {
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  display: block;
}

.story-box span {
  font-family: Arial, Helvetica, sans-serif;
}

.narrator-pic {
  height: 70;
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  max-height: 400px;
  max-width: 400px;
}

.story-title {
  text-align: center;
}

.story-button {
  margin-top: 0;
}

@media (max-width: 768px) {
  .stories .story-flex-wrapper {
    flex-direction: column;
    height: auto;
  }
  .aside {
    width: 100%;
    margin-left: 0;
  }
  .aside .thing {
    right: -20px;
    box-shadow: 0 8px 10px 4px #ccc;
    margin-bottom: 30px;
  }
  .sidebar-grid {
    overflow-y: hidden;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .stories .story-flex-wrapper .aside .sidebar-grid {
    grid-template-columns: 1fr 1fr;
  }
}