#input_bar {
  border: solid 1px #faaf47;
  width: 60%;
  height: 40px;
  display: inline-block;
  border-radius: 0;
  background-color: white;
  color: #222;
  opacity: .9; }

#input_button {
  border: solid 1px #faaf47;
  height: 40px;
  width: 140px;
  margin-top: 0;
  border-radius: 0;
  float: left;
  min-width: 20px; }

#subcribeSentence {
  margin-top: 20px;
  margin-bottom: 40px;
  color: white;
  font-size: 20px;
  text-shadow: 2px 2px 4px #333;
  text-shadow: 2px 2px 3px rgba(10, 10, 10, 0.5); }
