.team-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.team-member {
  width: 350px;
  flex-shrink: 1;
}

.team-member-image {
  display: block;
  border-radius: 50%;
  width: 80%;
  margin: 0 auto;
  height: auto;
}

.team-text {
  margin-bottom: 30px;
  margin-left: 5px;
}

.team-title {
  padding: 20px 0;
  width: 100%;
  text-align: center;
}

.team-title h4 {
  font-size: 17px;
  margin-bottom: 0px;
  display: block;
  text-transform: uppercase;
  font-weight: 500;
}

.team-title span {
  font-size: 14px;
  margin-right: 5px;
  font-weight: 300;
}

.team-title a {
  color: #55f
}