body {
    background-color: #171e27; 
}

.navbar {
    background-color: white;
    border-radius: 0;
    width: 100%;
    margin: 0;
    border: none;
}

.bee {
    border-radius: 50%; 
    top: -10px; 
    display: block; 
    margin-left: auto;
    margin-right: auto;
}

.navbar-brand {
    border: none;  
}

.Motto {
    font-size: 50px;
    text-align: center;
    color: #B3C6C3;
}