@import url('https://fonts.googleapis.com/css?family=Roboto:300,500,700');

body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
}

div.switchWrapper {
  margin-top: 80px;
  min-height: calc(100vh - 80px - 110px + 1px);
}

a {
  line-height: 1.2;
}

a:hover {
  text-decoration: none;
}

.btn {
  margin: 1.5em auto;
  color: #222;
  width: 15em;
  height: 3em;
}

input {
  padding: 4px;
  margin-bottom: 10px;
}

.invisible {
  opacity: 0;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}